
.headerCont{
    width: 100%;
    /*position: fixed;*/
    /*top: 0;*/
    background-color: rgba(255, 255, 255, 0.339);
    backdrop-filter: blur(10px);
    /*color: white;*/
    z-index: 100;
}


.men{
    display: none;
}

.myheader{
    height: 60px;
    width: 100%;
    /*border-bottom: 1px solid black;*/
    padding: 0 10px;
    z-index: 100;
}
.logoPart img{
    height: 40px;
}

.navPart{
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  justify-content: center;
  gap: 10px;
}


.primaryButton{
    background-color: var(--primary-color);
    color: var(--onblack);
    border-radius: 8px;
    font-size: 16px;


}
.primaryButton:hover{
    background-color: white;
    color: black;
    border: 1px solid var(--onwhite);
}



@media screen and (max-width:500px) {
  .menuPart{
    display: none;
  }

 .men{
     display: block;
 }

.icon-container{
    display: none;
}
}