.MainLayout{
    /*background-color: red;*/
    position: relative;
}


.mobileH{
    display: none;
}



@media only screen and (max-width: 500px){
    .mobileH {
        display: block;
        position: fixed;   /* Fixed position relative to the viewport */
        left: 0;           /* Aligns with the left side of the screen */
        bottom: 0;         /* Sticks to the bottom of the screen */
        width: 100%;       /* Full width of the screen */
        z-index: 10;       /* Ensures it stays above other content if needed */
    }
}