.AuthWraper{
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid red; */
    margin: 18px auto;
    /* height: 500px; */
    /*background-color: red;*/
}

.bannerPart{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--border-radius);
}


@media screen and (max-width:810px) {
    .AuthWraper{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px 0;
    }
    .bannerPart{
        display: none;
    }
   
}