.filterCont{
    height: 10vh;
    background-color: rgba(211, 211, 211, 0.34);
    color: rgba(0, 0, 0, 0.31);
/*    delatable*/
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}